# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:ANIMALIUM <ANIMALIUM:ANIMALIUM.cfg>
    S:APPENG <APPENG:APPENG.cfg>
    S:AROMA1997 <AROMA1997:AROMA1997.cfg>
    S:ASMODEUSCORE <ASMODEUSCORE:ASMODEUSCORE.cfg>
    S:ATOMICSTRYKER <ATOMICSTRYKER:ATOMICSTRYKER.cfg>
    S:BRANDON3055 <BRANDON3055:BRANDON3055.cfg>
    S:BUILDCRAFT <BUILDCRAFT:BUILDCRAFT.cfg>
    S:BUUZ135 <BUUZ135:BUUZ135.cfg>
    S:COFH <COFH:COFH.cfg>
    S:COROUTIL <COROUTIL:COROUTIL.cfg>
    S:FAMILIARFAUNA <FAMILIARFAUNA:FAMILIARFAUNA.cfg>
    S:FLAXBEARD <FLAXBEARD:FLAXBEARD.cfg>
    S:GALAXYSPACE <GALAXYSPACE:GALAXYSPACE.cfg>
    S:GEFORCEMODS <GEFORCEMODS:GEFORCEMODS.cfg>
    S:ITS_MEOW <ITS_MEOW:ITS_MEOW.cfg>
    S:JAREDBGREAT <JAREDBGREAT:JAREDBGREAT.cfg>
    S:KAMEFREDE <KAMEFREDE:KAMEFREDE.cfg>
    S:LEGACY <LEGACY:LEGACY.cfg>
    S:LOGICTECHCORP <LOGICTECHCORP:LOGICTECHCORP.cfg>
    S:LOTHRAZAR <LOTHRAZAR:LOTHRAZAR.cfg>
    S:LUMIEN <LUMIEN:LUMIEN.cfg>
    S:MEKANISM <MEKANISM:MEKANISM.cfg>
    S:MICDOODLE8 <MICDOODLE8:MICDOODLE8.cfg>
    S:OPENBLOCKS <OPENBLOCKS:OPENBLOCKS.cfg>
    S:ORG <ORG:ORG.cfg>
    S:PAULEVS <PAULEVS:PAULEVS.cfg>
    S:PROJECTREDDOG <PROJECTREDDOG:PROJECTREDDOG.cfg>
    S:SLIMEKNIGHTS <SLIMEKNIGHTS:SLIMEKNIGHTS.cfg>
    S:STEVEKUNG <STEVEKUNG:STEVEKUNG.cfg>
    S:SVENHJOL <SVENHJOL:SVENHJOL.cfg>
    S:TECHGUNS <TECHGUNS:TECHGUNS.cfg>
    S:TMTRAVLR <TMTRAVLR:TMTRAVLR.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:ZMASTER587 <ZMASTER587:ZMASTER587.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:tinker <TC:TinkerConstruct.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


